body{
    margin: 0;
    overflow-x: hidden;
    background-image: url(../img/tree.png);
    background-attachment: fixed;
}

.symbol{
    height: 9vh;
    width: 9vh;
    z-index: 0;
    position: absolute;
    left: 15px;
    top: 5px;
}

#wrapper{
    height: calc(100vh);
    width: calc(100vw);
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 90vh 100vh 10vh;
    grid-template-areas: 
    'nav'
    'hd'
    'mn'
    'ft';
}

nav{
    grid-area: nav;
    background-color: #2ecc71;
    font-size: 3rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

button{
    height: auto;
    padding: 10px;
    width: 130px;
    font-size: 1.5rem;
    border-radius: 25px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: #003919;
    color: #2ecc71;
}

button:hover{
    background-color: blue;
    font-weight: 600;
}

.home{
    text-decoration: underline;
}

header{
    grid-area: hd;
    object-fit: cover;
    display: flex;
    align-items: center;
}
.blured{
    width: 100%;
    height: 20vh;
    background: rgba( 255, 255, 255, 0.6 );
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    padding: 20px;
}

main{
    grid-area: mn;
    background-color: teal;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    border-top: 5px solid black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: ft;
    background-color: #003919;
    color: lightgrey;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 10px;
}

section{
    background-color: magenta;
    width: 33%;
    height: 200px;
    border-radius: 7px;
    border: solid black 5px;
    margin: 10px;
}